repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: check-added-large-files
        args: ['--maxkb=25']
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-vcs-permalinks
    -   id: check-yaml
    -   id: debug-statements
        exclude: (debugging\.py)
    -   id: end-of-file-fixer
    -   id: fix-byte-order-marker
    -   id: mixed-line-ending
    -   id: no-commit-to-branch
        args: [--branch, main]
    -   id: trailing-whitespace
        exclude: (__snapshots__)
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-check-blanket-noqa
    -   id: python-check-mock-methods
    -   id: python-no-log-warn
    -   id: text-unicode-replacement-char
# -   repo: https://github.com/tox-dev/pyproject-fmt
#     rev: 1.2.0
#     hooks:
#     -   id: pyproject-fmt
-   repo: https://github.com/aio-libs/sort-all
    rev: v1.2.0
    hooks:
    -   id: sort-all
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.1
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--unsafe-fixes]
-   repo: https://github.com/dosisod/refurb
    rev: v1.28.0
    hooks:
    -   id: refurb
        args: [--ignore, FURB126]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
    -   id: mypy
        additional_dependencies: [
            attrs>=21.3.0,
            click,
            optree,
            pluggy>=1.3.0,
            rich,
            sqlalchemy>2,
            types-setuptools,
        ]
        pass_filenames: false
-   repo: https://github.com/executablebooks/mdformat
    rev: 0.7.17
    hooks:
    -   id: mdformat
        additional_dependencies: [
            mdformat-gfm,
            mdformat-black,
            mdformat-pyproject,
        ]
        files: (README\.md)
-   repo: https://github.com/executablebooks/mdformat
    rev: 0.7.17
    hooks:
    -   id: mdformat
        additional_dependencies: [
            mdformat-myst,
            mdformat-black,
            mdformat-pyproject,
        ]
        files: (docs/.)
-   repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
    -   id: nbqa-black
    -   id: nbqa-isort
    -   id: nbqa-mypy
        args: [--ignore-missing-imports]
-   repo: https://github.com/kynan/nbstripout
    rev: 0.7.1
    hooks:
    -   id: nbstripout
        exclude: (docs)
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
    -   id: codespell
        additional_dependencies: [tomli]
        exclude: (\.ipynb)
-   repo: https://github.com/mgedmin/check-manifest
    rev: "0.49"
    hooks:
    -   id: check-manifest
        args: [--no-build-isolation]
        additional_dependencies: [setuptools-scm, toml, wheel]
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
    # -   id: identity  # Prints all files passed to pre-commits. Debugging.
