repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: check-added-large-files
        args: ['--maxkb=25']
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-vcs-permalinks
    -   id: check-yaml
    -   id: debug-statements
        exclude: (debugging\.py)
    -   id: end-of-file-fixer
    -   id: fix-byte-order-marker
    -   id: mixed-line-ending
    -   id: no-commit-to-branch
        args: [--branch, main]
    -   id: trailing-whitespace
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-check-blanket-noqa
    -   id: python-check-mock-methods
    -   id: python-no-log-warn
    -   id: text-unicode-replacement-char
-   repo: https://github.com/asottile/reorder-python-imports
    rev: v3.12.0
    hooks:
    -   id: reorder-python-imports
        args: [--py38-plus, --add-import, 'from __future__ import annotations']
        exclude: ^(docs_src/)
-   repo: https://github.com/asottile/reorder-python-imports
    rev: v3.12.0
    hooks:
    -   id: reorder-python-imports
        args: [--py38-plus]
        files: ^(docs_src/)
# -   repo: https://github.com/tox-dev/pyproject-fmt
#     rev: 1.2.0
#     hooks:
#     -   id: pyproject-fmt
-   repo: https://github.com/aio-libs/sort-all
    rev: v1.2.0
    hooks:
    -   id: sort-all
-   repo: https://github.com/psf/black
    rev: 23.10.0
    hooks:
    -   id: black
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.1
    hooks:
      - id: ruff
        args: [--unsafe-fixes]
-   repo: https://github.com/dosisod/refurb
    rev: v1.22.1
    hooks:
    -   id: refurb
        args: [--ignore, FURB126]
-   repo: https://github.com/econchick/interrogate
    rev: 1.5.0
    hooks:
    -   id: interrogate
        args: [-v, --fail-under=75]
        exclude: ^(tests/|docs/|scripts/|docs_src/)
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.6.1
    hooks:
    -   id: mypy
        additional_dependencies: [
            attrs>=21.3.0,
            click,
            optree,
            pluggy,
            rich,
            sqlalchemy,
            types-setuptools,
        ]
        pass_filenames: false
-   repo: https://github.com/executablebooks/mdformat
    rev: 0.7.17
    hooks:
    -   id: mdformat
        additional_dependencies: [
            mdformat-gfm,
            mdformat-black,
        ]
        args: [--wrap, "88"]
        files: (README\.md)
-   repo: https://github.com/executablebooks/mdformat
    rev: 0.7.17
    hooks:
    -   id: mdformat
        additional_dependencies: [
            mdformat-myst,
            mdformat-black,
        ]
        args: [--wrap, "88"]
        files: (docs/.)
        exclude: |
            (?x)^(
                docs/source/index.md|
                docs/source/how_to_guides/bp_structure_of_task_files.md|
                docs/source/how_to_guides/how_to_influence_build_order.md|
                docs/source/how_to_guides/migrating_from_scripts_to_pytask.md|
                docs/source/how_to_guides/repeating_tasks_with_different_inputs_the_pytest_way.md|
                docs/source/how_to_guides/using_task_returns.md|
                docs/source/how_to_guides/writing_custom_nodes.md|
                docs/source/how_to_guides/hashing_inputs_of_tasks.md|
                docs/source/how_to_guides/using_a_data_catalog.md|
                docs/source/reference_guides/hookspecs.md|
                docs/source/tutorials/configuration.md|
                docs/source/tutorials/debugging.md|
                docs/source/tutorials/defining_dependencies_products.md|
                docs/source/tutorials/making_tasks_persist.md|
                docs/source/tutorials/repeating_tasks_with_different_inputs.md|
                docs/source/tutorials/selecting_tasks.md|
                docs/source/tutorials/set_up_a_project.md|
                docs/source/tutorials/write_a_task.md
            )$
-   repo: https://github.com/nbQA-dev/nbQA
    rev: 1.7.0
    hooks:
    -   id: nbqa-black
    -   id: nbqa-isort
    -   id: nbqa-mypy
        args: [--ignore-missing-imports]
    -   id: nbqa-ruff
-   repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
    -   id: nbstripout
        exclude: (docs)
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
    -   id: codespell
        additional_dependencies: [tomli]
        exclude: (\.ipynb)
-   repo: https://github.com/mgedmin/check-manifest
    rev: "0.49"
    hooks:
    -   id: check-manifest
        args: [--no-build-isolation]
        additional_dependencies: [setuptools-scm, toml]
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
    # -   id: identity  # Prints all files passed to pre-commits. Debugging.
