repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        args: ['--maxkb=25']
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-vcs-permalinks
    -   id: check-yaml
    -   id: debug-statements
        exclude: (debugging\.py)
    -   id: end-of-file-fixer
    -   id: fix-byte-order-marker
    -   id: mixed-line-ending
    -   id: no-commit-to-branch
        args: [--branch, main]
    -   id: trailing-whitespace
        exclude: (__snapshots__)
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-check-blanket-noqa
    -   id: python-check-mock-methods
    -   id: python-no-log-warn
    -   id: text-unicode-replacement-char
-   repo: https://github.com/aio-libs/sort-all
    rev: v1.2.0
    hooks:
    -   id: sort-all
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.7.1
    hooks:
      - id: ruff-format
      - id: ruff
-   repo: https://github.com/dosisod/refurb
    rev: v2.0.0
    hooks:
    -   id: refurb
-   repo: https://github.com/executablebooks/mdformat
    rev: 0.7.18
    hooks:
    -   id: mdformat
        additional_dependencies: [
            mdformat-gfm,
            mdformat-black,
            mdformat-pyproject,
        ]
        files: (README\.md)
-   repo: https://github.com/executablebooks/mdformat
    rev: 0.7.18
    hooks:
    -   id: mdformat
        additional_dependencies: [
            mdformat-myst,
            mdformat-black,
            mdformat-pyproject,
        ]
        files: (docs/.)
-   repo: https://github.com/kynan/nbstripout
    rev: 0.7.1
    hooks:
    -   id: nbstripout
        exclude: (docs)
-   repo: https://github.com/crate-ci/typos
    rev: v1.26.8
    hooks:
    -   id: typos
        exclude: (\.ipynb)
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
    # -   id: identity  # Prints all files passed to pre-commits. Debugging.
