name: pytask

channels:
  - conda-forge

dependencies:
  - python>=3.6
  - pip

  # Conda
  - anaconda-client
  - conda-build
  - conda-verify

  # Package dependencies
  - click
  - click-default-group
  - networkx
  - pluggy
  - pony
  - pytest

  # Misc
  - black
  - jupyterlab
  - matplotlib
  - pdbpp
  - pre-commit
  - pydot
  - pytest-cov
  - tox-conda
  - virtualenv=20.0.33

  # Documentation
  - furo
  - nbsphinx
  - sphinx
  - sphinx-copybutton
  - sphinx-autodoc-typehints
  - sphinx-autoapi
  - sphinx-click
  - sphinx-panels
