include CITATION
include LICENSE

recursive-include src *.pyi
recursive-include src py.typed

exclude .coveragerc
exclude *.yaml
exclude *.yml
exclude tox.ini

prune docs
prune docs_src
prune scripts
prune tests
