[build-system]
requires = ["setuptools>=45", "wheel", "setuptools_scm[toml]>=6.0"]
build-backend = "setuptools.build_meta"


[tool.setuptools_scm]
write_to = "src/_pytask/_version.py"


[tool.mypy]
files = ["src", "tests"]
check_untyped_defs = true
disallow_any_generics = true
disallow_incomplete_defs = true
disallow_untyped_defs = true
no_implicit_optional = true
warn_redundant_casts = true
warn_unused_ignores = true


[[tool.mypy.overrides]]
module = "tests.*"
disallow_untyped_defs = false
ignore_errors = true


[tool.codespell]
ignore-words-list = "falsy, hist, ines, unparseable"


[tool.ruff]
select = ["ALL"]
# extend-select = [
#     "A",  # flake8-builtins
#     "ARG",  # flake8-unused-arguments
#     "B",  # flake8-bugbear
#     "BLE",  # flake8-blind-except
#     "C4",  # flake8-comprehensions
#     "D",  # flake8-docstring
#     "DTZ",  # flake8-datetimez
#     "E",  # pycodestyle errors
#     # "EM",  # flake8-errmsg
#     "ERA",  # eradicate
#     # "FBT",  # flake8-boolean-trap
#     "F",  # pyflakes
#     "ICN",  # flake8-import-conventions
#     "N",  # pep8-naming
#     # "PGH",  # pygrep-hooks
#     "PLC",  # pylint
#     "PLE",  # pylint
#     "PLR",  # pylint
#     "PLW",  # pylint
#     "RET",  # flake8-return
#     "RUF",  # ruff specific
#     "S",  # flake8-bandit
#     "SIM",  # flake8-simplify
#     "T10",  # flake8-debugger
#     "T20",  # flake8-print
#     # "UP",  # pyupgrade, changes are not py37 compatible.
#     "W",  # pycodestyle warnings
#     # "YTT",  # flake8-2020
# ]
fix = true
extend-ignore = [
    # Numpy docstyle
    "D107",
    "D203",
    "D212",
    "D213",
    "D402",
    "D404",
    "D413",
    "D415",
    "D416",
    "D417",
    "RET504",  # unnecessary variable assignment before return.
    # Others.
    "S101",  # raise errors for asserts.
    "B905",  # strict parameter for zip that was implemented in py310.
    "I",
]


[tool.ruff.per-file-ignores]
"src/_pytask/hookspecs.py" = ["ARG001"]
"src/_pytask/outcomes.py" = ["N818"]
"tests/test_capture.py" = ["T201"]
"tests/*" = ["D"]
"scripts/*" = ["D"]
