/* Remove execution count for notebook cells. */
div.prompt {
    display: none;
}

/* Getting started index page */

/* Float four columns side by side */
.column {
  float: left;
  width: 45%;
  padding: 10px 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #fff;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

a#index-link {
    color: #3E4349;
    text-decoration: none;
}

pre {
  padding-left: 20px
}

li pre {
  padding-left: 20px
}
