channels:
  - conda-forge
  - nodefaults

dependencies:
  - python >=3.8
  - pip
  - setuptools_scm
  - toml

  # Documentation
  - furo
  - ipython
  - nbsphinx
  - myst-parser
  - sphinx
  - sphinx-click
  - sphinx-copybutton
  - sphinx-design >=0.3.0
  - sphinx-toolbox
  - sphinxext-opengraph

  # Package dependencies necessary for sphinx-click
  - attrs >=21.3.0
  - click
  - click-default-group
  - networkx >=2.4
  - pluggy
  - optree >=0.9
  - pexpect
  - rich
  - sqlalchemy >=1.4.36
  - tomli >=1.0.0
  - typing_extensions

  - pip:
    - ../
