channels:
  - conda-forge

dependencies:
  - python >= 3.6
  - furo
  - ipython
  - sphinx
  - sphinx-copybutton
  - sphinx-autodoc-typehints
  - sphinx-autoapi
  - sphinx-click
  - sphinx-panels

  # Package dependencies necessary for sphinx-click
  - attrs
  - click
  - click-default-group
  - networkx
  - pexpect
  - pluggy
  - pony >= 0.7.13
