name: Continuous Integration Workflow
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - '*'

jobs:

  run-tests:

    name: Run tests for ${{ matrix.os }} on ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
        python-version: ['3.6', '3.7', '3.8']

    steps:
      - uses: actions/checkout@v2
      - uses: goanpeca/setup-miniconda@v1
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}

      - name: Install core dependencies.
        shell: bash -l {0}
        run: conda install -c conda-forge tox-conda coverage

      # Unit, integration, and end-to-end tests.

      - name: Run unit tests and doctests.
        shell: bash -l {0}
        run: tox -e pytest -- -m "unit or (not integration and not end_to_end)" --cov=./src --cov-report=xml -n auto

      - name: Upload coverage report for unit tests and doctests.
        if: runner.os == 'Linux' && matrix.python-version == '3.8'
        shell: bash -l {0}
        run: bash <(curl -s https://codecov.io/bash) -F unit -c

      - name: Run integration tests.
        shell: bash -l {0}
        run: tox -e pytest -- -m integration --cov=./src --cov-report=xml -n auto

      - name: Upload coverage reports of integration tests.
        if: runner.os == 'Linux' && matrix.python-version == '3.8'
        shell: bash -l {0}
        run: bash <(curl -s https://codecov.io/bash) -F integration -c

      - name: Run end-to-end tests.
        shell: bash -l {0}
        run: tox -e pytest -- -m end_to_end --cov=./src --cov-report=xml -n auto

      - name: Upload coverage reports of end-to-end tests.
        if: runner.os == 'Linux' && matrix.python-version == '3.8'
        shell: bash -l {0}
        run: bash <(curl -s https://codecov.io/bash) -F end_to_end -c

      - name: Validate codecov.yml
        if: runner.os == 'Linux' && matrix.python-version == '3.8'
        shell: bash -l {0}
        run: curl -m 10 --data-binary @codecov.yml https://codecov.io/validate


  pre-commit:

    name: Run pre-commit.
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8

      - name: Install dependencies
        run: pip install tox

      - name: Run pre-commit
        run: tox -e pre-commit


  docs:

    name: Run documentation.
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: goanpeca/setup-miniconda@v1
        with:
          auto-update-conda: true
          python-version: 3.8

      - name: Install core dependencies.
        shell: bash -l {0}
        run: conda install -c conda-forge tox-conda

      - name: Build docs
        shell: bash -l {0}
        run: tox -e sphinx
