name: Continuous Integration Workflow
on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - '*'

env:
  CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

jobs:

  run-tests:

    name: Run tests for ${{ matrix.os }} on ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
        python-version: ['3.6', '3.7']

    steps:
      - uses: actions/checkout@v2
      - uses: goanpeca/setup-miniconda@v1
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}

      - name: Install core dependencies.
        shell: bash -l {0}
        run: conda install -c conda-forge tox-conda coverage

      - name: Install fixes for Python 3.7 on Windows
        if: runner.os == 'Windows' && matrix.python-version == '3.7'
        shell: bash -l {0}
        run: conda install -c conda-forge conda-build matplotlib numpy pydot scipy

      - name: Validate codecov.yml
        if: runner.os == 'Linux' && matrix.python-version == '3.7'
        shell: bash -l {0}
        run: cat codecov.yml | curl --data-binary @- https://codecov.io/validate

      # Unit, integration, and end-to-end tests.

      - name: Run unit tests and doctests.
        shell: bash -l {0}
        run: tox -e pytest -- -m "unit or (not integration and not end_to_end)" --cov=./ --cov-report=xml

      - name: Upload coverage report for unit tests and doctests.
        if: runner.os == 'Linux' && matrix.python-version == '3.7'
        shell: bash -l {0}
        run: bash <(curl -s https://codecov.io/bash) -F unit -c

      - name: Run integration tests.
        shell: bash -l {0}
        run: tox -e pytest -- -m integration --cov=./ --cov-report=xml

      - name: Upload coverage reports of integration tests.
        if: runner.os == 'Linux' && matrix.python-version == '3.7'
        shell: bash -l {0}
        run: bash <(curl -s https://codecov.io/bash) -F integration -c

      - name: Run end-to-end tests.
        shell: bash -l {0}
        run: tox -e pytest -- -m end_to_end --cov=./ --cov-report=xml

      - name: Upload coverage reports of end-to-end tests.
        if: runner.os == 'Linux' && matrix.python-version == '3.7'
        shell: bash -l {0}
        run: bash <(curl -s https://codecov.io/bash) -F end_to_end -c


  pre-commit:

    name: Run pre-commit.
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - name: Install dependencies
        run: conda install -c conda-forge pre-commit -y
      - name: Run pre-commit
        run: pre-commit run --all-files || ( git status --short ; git diff ; exit 1 )


  docs:

    name: Check documentation.
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: goanpeca/setup-miniconda@v1
        with:
          auto-update-conda: true
          python-version: 3.7
          environment-file: docs/rtd_environment.yml
      - name: Build docs
        run: |
          cd docs
          make html
          make linkcheck
